body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: rgb(139, 179, 75);
}

.quem-somos{
    background-color:  rgb(180, 196, 241);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgb(236, 217, 110);
}

.bg-footer{
    background-color: black;
    color: white;
}